<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>TidalDrift</string>
    <key>CFBundleExecutable</key>
    <string>TidalDrift</string>
    <key>CFBundleIdentifier</key>
    <string>com.goldbergconsulting.tidaldrift</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>TidalDrift</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
<key>CFBundleShortVersionString</key>
	<string>1.4.3</string>
	<key>CFBundleVersion</key>
	<string>31</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>TidalDrift needs to discover other Macs on your local network for screen sharing and file sharing.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_rfb._tcp</string>
        <string>_smb._tcp</string>
        <string>_afpovertcp._tcp</string>
        <string>_ssh._tcp</string>
        <string>_tidaldrift._tcp</string>
        <string>_tidalstream._tcp</string>
        <string>_tidaldrop._tcp</string>
        <string>_tidaldrift-cast._udp</string>
    </array>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2024. All rights reserved.</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>NSMainStoryboardFile</key>
    <string></string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
